html {
  scroll-behavior:smooth;
  
}

body {
  margin: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*start header styles*/
header {
  display: block;
  background: #030303;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  max-height: 150px;
  margin: 0 auto;
  min-height: 150px;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-height: 150px;
  max-width: 199px;
}
.header-logo-title {
  margin: 0;
  margin-left: 25px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header-logo-title-a {
  text-decoration: none;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-logo-img {
  max-width: 50px;
  max-height: 34px;
}

li {
  list-style: none;
}

.header-nav {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
}

.header-nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  max-width: 775px;
}

.header-nav-ul-li {
  padding-right: 55px;
}

.header-nav-ul :nth-child(4){
padding-right: 60px;
}

.header-nav-a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
}

.header-nav-a:hover{
    color: #9D8665;
    transition: 1.5s;
}
.header-nav-a:visited{
    color: #9D8665;
    transition: 1.5s;   
}

/*end header styles*/

/*start welcome styles*/
main {
  display: block;
  margin: 0 auto;
}

.section-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome {
  margin: 0 auto;
  height: 810px;
  background: #030303;
  background-image: url(assets/img/welcome-slider/4.jpg);

  background-repeat: no-repeat;
  background-size: 1000px 750px;
  overflow: hidden;
  background-position: calc(50% + 222px) 1%;  
}


.overlay-welcome{
  display: block;
  width: 300px;
  height: 752px;
  background-image: linear-gradient(
90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  position: absolute;
  left: 35%;
  z-index: 0;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.welcome-conteiner {
  padding-top: 150px;
  max-height: 390px;
  max-width: 600px;
  z-index: 2;
}
.welcome-img-768{
  display: none;
}

.section-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 26px;
}

.welcome-a {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 360px;
  max-height: 75px;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #710707;
  border-radius: 10px;
}

.welcome-a:hover{
  color: #ffffff;
    background: #9D8665;
    transition: 1.5s;
}

.slaider{
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 120px;
  background: #030303;
  position: relative;
  bottom:  -272px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 40px;
text-transform: uppercase;
color: #FFFFFF;

}

.slaider.active{
  position: relative;
  bottom:  -465px;
  left: 360px;
  

}

.slaider-wrapper{
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
}
.slaider-num{
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  width: 75px;
}

.slaider-num:hover{
  cursor: pointer;
}

.slaider-slides{
  display: flex;
  width: 180px;
  justify-content: space-between;
}



.slidePagination{
  width: 16px;
  height: 16px;
  background: #ffffff
}

.slidePagination:hover{
  cursor: pointer;
}

.slidePaginationActive{
  background: #D2B183;
}

.slaider-arrows{
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.slaider-arrows:hover{
  cursor: pointer;
}
/*end welcome styles*/

/*start visiting styles*/

.visiting{
  background: #ffffff;}
.section-title-dark {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  position: relative;
}

.section-title-dark::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}
.visiting-conteiner {
  padding-top: 75px;
}

.visitind-card-conteiner {
  padding-top: 103px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  column-gap: 60px;
  row-gap: 75px;
  padding-bottom: 73px;
}

.visiting-card {
  text-decoration: none;
}
.visiting-card-img {
  width: 440px;
  height: 285px;
}
.visiting-card-title {
  padding-top: 23px;
  text-decoration: none;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  
}

.visiting-card-title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
  transition: 1.5s;
}

.visiting-card:hover .visiting-card-title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #710707;
  
}

.visiting-card-virtual {
  display: block;
  padding-top: 21px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.visiting-card-panorama {
  display: block;
  padding-top: 10px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}
/*end visiting styles*/

/*start explore styles*/
.explore {
  background: #030303;
}

.explore-conteiner {
  display: flex;
  padding-bottom: 75px;
  padding-top: 75px;
}
.section-title-explore {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.section-title-explore::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}
.explore-description-cont {
  padding-top: 103px;
}
.explore-description {
  max-width: 660px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  padding-bottom: 25px;
}

.explore-span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #caaa7d;
}
.explore-img {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 60px;
  padding-top: 15px;
}


.img-comp-container {
  position: relative;
  height: 700px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: 720px;
  height: 700px;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: pointer;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 700px;
  top: -50%;
  background: url("assets/img/explore-slider/explore\ slider.png");

}

/*end explore styles*/

/*start video styles*/
.video{
  background: #ffffff;
}




.video-frame{
  width: 1440px;
  height: 650px;
  background-color: #030303;
}
.video-play-controls {
 margin-top: -3px;
  display: flex;
  height: 85px;
  background: #000000;
  align-items: center;
  
}

.video-play-controls-cont{
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  width: 1380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.video-button {
  background-color: #ffffff00;
  border: none;
  padding: 0;
  max-height: 36px;
  max-width: 38px;
  display: flex;
  
}

.video-button:hover{
    transform:rotate(360deg);
    cursor: pointer;
    transition: 3s;
}
.video-button-play {
  background-color: #ffffff00;
  border: none;
  padding: 0;
  position: absolute;

  margin-top: 215px;
  margin-left: -829px;
}
.video-button-play:hover {
    cursor: pointer;
    transform:rotate(360deg);
    transition: 3s;
}
.video-progress {
 
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 54%,
    #fff 54%,
    #fff 100%
  );
  height: 8px;
  width: 930px;

  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.video-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffffff;
}

.video-volume {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #fff 40%,
    #fff 100%
  );
  height: 8px;
  width: 155px;

  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.video-volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffffff;
}

.video-description {
  padding-top: 74px;
  padding-bottom: 75px;
  max-width: 1440px;
  display: flex;
  align-items: center;
}
.section-title-dark-video {
  display: flex;

  max-height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.video-description-p {
  padding-top: 3px;
  padding-left: 114px;
  max-width: 720px;
  max-height: 90px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

.video-playlist{
  padding-top: 50px;
  padding-bottom: 40px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
}

.video-playlist-items{
display: flex;
align-items: center;
justify-content: center;
}

.video-slaider-left{
  width: 10px;
height: 12px;
  background-image: url('assets/video/Vector\ \(Stroke\).png');
  margin-right: 20px;
}

.video-slaider{
  display: flex;
  width: 1440px;
  justify-content: center;
  padding-bottom: 75px;
}

.video-slaider-items{
  width: 12px;
height: 12px;
background: #999999;
border-radius: 25px;
margin-right: 20px;
}

.video-slaider-items-active{
  background: #333333;
}

.video-slaider-right{
  width: 10px;
height: 12px;
  background-image: url('assets/video/Vector\ \(Stroke\)1.png');
}

.flscrn{
  width: 80vw;
  height: auto;
}
/*end video styles*/

/*start gallery styles*/


.gallery{
  background: #030303;
  height: 2200px;
}
.section-title-gallery{
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
.picture-container{
  width: 1440px;
  height: 1960px;
  overflow-y: hidden;
}

.picture-inner-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
 
}


.picture-inner-container-column{
  display: flex;
  flex-direction: column;
}

.picture-inner-container-column-items{
  padding-top: 20px;
  width: 456px;
  transform: translateY(15%) scale(0.85);
  transition: 1s;

  
}

.active{
  
  transform: translateY(0%) scale(1);
  transition: 1s;
}
/*end gallery styles*/




/*start tickets styles*/
.tickets {
  background: #ffffff;
  
}

.tickets-conteiner {
  display: flex;
  padding-bottom: 72px;
  padding-top: 75px;
  flex-direction: column;
}

.section-title-tickets {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
  position: relative;
}

.section-title-tickets::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.tickets-buy-tickets {
  display: flex;
  padding-top: 103px;
}

.tickets-order {
  display: flex;
  padding-left: 60px;

  justify-content: space-between;
  width: 660px;
}

.tickets-order-type-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 52px;
}

.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #DBDBDB;
}

.tickets-order-type-amount {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 25px;
}

.buy-tickets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.tickets-amount-basic {
  padding-bottom: 15px;
}
.tickets-amount {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.tickets-amount-basic-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.tickets-amount-senior-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }


.buttom-number-cont {
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  width: 150px;
  height: 50px;
  margin-top: 14px;
  display: flex;
  justify-content: center;
}

.tickets-number-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.tickets-number-button:hover{
    cursor: pointer;
}
.number {
  border: none;
  padding: 0;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.total-price-cont {
  display: flex;
  padding-top: 35px;
}

.total-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #000000;
}

.buy-now {
  
  width: 175px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 57px;
  letter-spacing: 2px;
  color: #ffffff;
  justify-content: center;
  background: #000000;
}

.buy-now:hover{
    background: #0000003a;
    transition: 1.5s;
    cursor: pointer;
}
/*end tickets styles*/


/*tickets-form*/
.tickets-form{
  display: flex;
  width: 1440px;
  height: 845px;
  background-color: #ffffff;
  justify-content: center;
  position: fixed;
    top: 60px;
    align-items: center;    
    z-index: 99;
    transform: translateX(150%);
    transition: transform 0.5s ease-in-out;

}

.tickets-form-active{
  display: flex;
  position: fixed;
  align-items: center;
  width: 1440px;
  height: 845px;
  background-color: #ffffff;
  justify-content: center;
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
  z-index: 99;
}



.booking{
display: flex;
flex-direction: column;
width: 400px;
height: 663px;
}

.tickets-title{
display: flex;
flex-direction: column;

}

.tickets-logo{
  width: 85px;
  height: 41px;
}

.tickets-logo-title{
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 55px;
text-transform: uppercase;
color: #9D8665;
}



.tickets-logo-title::after {
  content: "";
  position: absolute;
  left: 237px;
  top: 230px;  
  width: 400px;
  height: 3px;
  background-color: #b4a1a1;
}
.tickets-logo-desc{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #710707;
padding-top: 15px;
}

.tickets-form-1row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 71px;
  width: 400px;
}

.form-tickets{
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.label-date{
  display: flex;
  align-items: center;
  width: 188px;
  height: 43px;
  border: 1px solid #030303;
}

.label-date p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;

color: #030303;
padding-left: 15px;
}

.date{
  position: absolute;
  width: 186px;
  height: 43px;
  padding: 0;
  opacity: 0;
  z-index: 3;
}

.label-date-date-ico{
  width: 15px; 
  height: 15px; 
  padding-left: 15px;
}

.label-arrow-ico-date{
  position: absolute;
  width: 17px; 
  height: 17px; 
  right: 1030px;
}
.label-arrow-ico-time{
  position: absolute;
  width: 17px; 
  height: 17px; 
  right: 830px;
}
.date::-webkit-calendar-picker-indicator { 
margin-right: 15px;
  width: 20px;
  }

  .label-time{
    display: flex;
    align-items: center;
    width: 188px;
    height: 43px;
    border: 1px solid #030303;
  }
  
  .label-time p{
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #030303;
  padding-left: 15px;
  }
  
  .time::-webkit-calendar-picker-indicator { 
    margin-right: 15px;
      width: 30px;
      }

.time{  
  position: absolute;
  width: 186px;
  height: 43px;
  padding: 0;
  opacity: 0;
  z-index: 3;
}

.label-time-ico{
  width: 15px; 
  height: 15px; 
  padding-left: 15px;
}
.username{
  display: flex;
  margin-top: 21px;
  width: 398px;
  height: 41px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: 1px solid black;
color: #030303;
background-image: url(assets/icons/name.svg);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 12px;
}

.username-input{
  width: 360px;
  height: 39px;
  margin-left: 38px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: none;
color: #030303;
}



.email{
  display: flex;
  margin-top: 22px;
  width: 398px;
  height: 41px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: 1px solid black;
color: #030303;
background-image: url(assets/icons/email.svg);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 12px;
}

.email-input{
  width: 360px;
  height: 39px;
  margin-left: 38px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: none;
color: #030303;
}


.tel{
  display: flex;
  margin-top: 22px;
  width: 398px;
  height: 41px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: 1px solid black;
color: #030303;
background-image: url(assets/icons/tel.svg);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 12px;
}

.tel-input{
  width: 360px;
  height: 39px;
  margin-left: 38px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: none;
color: #030303;
}

.TickTypeSelect{
  display: flex;
  margin-top: 22px;
  width: 398px;
  height: 41px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: 1px solid black;
color: #030303;
background-image: url(assets/icons/Vector.svg);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 12px;
}


.TickTypeSelected{
  width: 345px;
  height: 39px;
  margin-left: 43px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border: none;
color: #030303;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background: white;
background-image: url('assets/icons/arrow.svg'); 
background-repeat: no-repeat, repeat;
background-position-y: center;
background-position-x: right;

}

.entry-tickets{  
  margin-top: 21px;
  width: 398px;
  height: 133px;
  border: 1px solid black;
}

.entry-tickets-title{
  padding-top: 7px;
  padding-left: 13px;
  width: 370px;
  display: flex;
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
text-transform: capitalize;
color: #9D8665;
}

.entry-tickets-title::after {
  content: "";
  position: absolute;
  bottom: 190px; 
  width: 370px;
  height: 3px;
  background-color: #b4a1a1;
}

.tickets-entry{
  display: flex;
  padding-top: 25px;
  width: 400px;
  justify-content: space-between;
}
.tickets-entry1{
  display: flex;
  padding-top: 20px;
  width: 400px;
  justify-content: space-between;
}

.tickets-entry-title{
  padding-left: 15px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #030303;
}

.buttom-number-entry-cont {
  margin-right: 15px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  width: 105px;
  height: 25px;  
  display: flex;
  justify-content: center;
}

.tickets-entry-button {
  display: block;
  width: 45px;
  height: 23px;
  background: #030303;
  border: none;  
  color: #ffffff;
}

.entry-number{
  border: none;
  margin: 0;
  text-align: center;
    padding: 0;
    width: 35px;
    background-color: rgba(255, 255, 255, 0);
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #030303;

}
.overview{
display: flex;
flex-direction: column;
margin-left: 40px;
width: 530px;
height: 663px;
border: 1px solid black;
align-items: center;
}

.overview-cont{
  
  display: flex;
  flex-direction: column;
  width: 470px;
  background: url(assets/img/ticketsForm.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 25px;
}

.overview-cont-title{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
color: #272727;
}

.overview-cont-title-desc{
  
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
color: #740C11;
opacity: 0.9;
}

.overview-cont-title-date{
  background-image: url(assets/icons/date.svg);
  background-repeat: no-repeat;
  margin-top: 12px;
  padding-left: 27px;
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #030303;
}

.overview-cont-title-time{
  background-image: url(assets/icons/time.svg);
  background-repeat: no-repeat;
  margin-top: 5px;
  padding-left: 27px;
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #030303;
}

.overview-cont-title-type{
  background-image: url(assets/icons/check_circle_outline.svg);
  background-repeat: no-repeat;
  margin-top: 5px;
  padding-left: 27px;
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #030303;
}

.overview-cont-desc{
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 117px;
  padding-top: 25px;
}
.overview-cont-desc-item{
  display: flex;
  flex-direction: row;
  width: 470px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.overview-cont-desc-item-1{
  display: flex;
  flex-direction: row;
  
} 

.overview-cont-desc-item-num{
  width: 32px;
  height: 20px;
  background-color: black;
  border-radius: 5px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #A4A4A3;
}

.overview-cont-desc-item-type{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #030303;
margin-left: 10px;
}
/*tickets-form*/
.paralax{
  width: 100%;
  height: 400px;
  background-image: url(assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.overview-cont-desc-item-price{
  
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #030303;
}

.overview-cont-desc::after{
  content: "";
  position: absolute;
  bottom: 485px; 
  width: 470px;
  height: 3px;
  background-color: #b4a1a1;
}

.overview-cont-desc-total{
display: flex;
justify-content: space-between;
}

.overview-cont-desc-total-p{
  padding-top: 15px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
color: #030303;
}

.overview-cont-desc-total-price{
  padding-top: 15px;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
color: #030303;
}
.card1{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 211px;
  background: #BCBCBC;
  z-index: 5;
  border: 1px solid white;
  border-radius: 5px;
}

.card1-title{
  padding-top: 12px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #161615;
padding-left: 18px;
}


.card-number{
  margin-top: 3px;
  margin-left: 18px;
  width: 210px;
  height: 32px;
}
.card1-expiration-date{
  padding-top: 0px;
  padding-left: 15px;
}
.card-month{
  width: 95px;
  height: 30px;
}

.card-year{
  margin-left: 11px;
  width: 95px;
  height: 30px;
}

.cardholder-name{
  margin-left: 15px;
  width: 315px;
  height: 30px;
  margin-bottom: 15px;
}

.visa{
  position: relative;
  top: -180px;
  left: 130px;
 
}
.mastercard{
  position: relative;
  top: -165px;
  left: 130px;
 
}

.card2{
  width: 360px;
  height: 211px;
  background: #939393;
position: relative;
top: -182px;
left: 110px;
border-radius: 5px;

}

.magnit-line{
  padding-top: 20px;
}

.card2-title{
  padding-top: 15px;
  padding-left: 275px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #161615;
}

.card2-cvv{
  margin-top: 2px;
  margin-left: 265px;
  width: 70px;
  height: 32px;
  margin-bottom: 5px;
}

.card2-desc{
  display: block;
  
  margin-left: 275px;
  margin-bottom: 25px;
  width: 55px;
  height: 50px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;

color: #161615;
}
body.lock {
  overflow: hidden;
}
.close{
  position: relative;
  top: -65px;
  right: -455px;
  z-index: 6;
}

.btn-book{
  position: absolute;
  bottom: 115px;
  left: 955px;
  width: 220px;
  height: 45px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #FFFFFF;
background: #710707;
opacity: 0.9;
}
/*start contacts styles*/

.contacts{
  background: #ffffff;
}
.contacts-conteiner {
  padding-top: 75px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
}

.contacts-info {
  display: flex;
  padding-top: 105px;
  
}

.contacts-about {
 
}

.contacts-map {
  padding-left: 198px;
}
.contacts-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 50px;
}

.contacts-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 25px;
}

.aTel{
  text-decoration: none;
  color: #000000;
}

.aMail{
  text-decoration: none;
  color: #000000;
}
/*end contacts styles*/
/*start footer styles*/
footer {
  display: block;
  background: #030303;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 1440px;
  min-height: 150px;
  margin: 0 auto;
  background: #030303;
  padding-top: 75px;
  padding-bottom: 38px;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer-logo-title {
  margin: 0;
  display: flex;
  margin-left: 25px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer-logo-title-a {
  text-decoration: none;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-logo-img {
  max-width: 50px;
  max-height: 34px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
}

.footer-nav-1{
  display: none;
}
.footer-nav-ul {
  padding-right: 172px;
}

.footer-nav-ul-li {
}

.footer-nav-a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
}

.footer-social {
  display: flex;
  align-self: flex-end;
  margin-left: 208px;
  margin-bottom: 14px;
}

.footer-social-ul {
  display: flex;
}

.footer-social-ul-li {
  margin-left: 24px;
}

.social-logo  {
  border: 1px solid #666666;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50px;
  padding: 11px;
  width: 48px;
  height: 48px;
}

.footer-devide{
  width: 100%;
  height: 3px;
  background: #666666;
}

.footer-info{
  display: flex;
  max-width: 1440px;
  height: 124px;
  margin: 0 auto;
  background: #030303;

  align-items: center;
  font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 22px;
/* identical to box height, or 100% */

letter-spacing: 2px;

color: #FFFFFF;

}

.footer-info p a{
  text-decoration: none;
  font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 22px;
/* identical to box height, or 100% */

letter-spacing: 2px;

color: #FFFFFF;
}

.RSS{
  margin-left: 488px;
  margin-right: 457px;

}

.social-logo:hover{
    border: 1px solid goldenrod;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
    padding: 11px;
}
.youtube:hover{
    content: url(assets/icons/Youtube-gold.svg);
    transition: 1.5s;
}
.instagram:hover{
    content: url(assets/icons/Instagram-gold.svg);
    transition: 1.5s;
}
.facebook:hover{
    content: url(assets/icons/Facebook-gold.svg);
    transition: 1.5s;
}
.twitter:hover{
    content: url(assets/icons/Twitter-gold.svg);
    transition: 1.5s;
}
.pinterest:hover{
    content: url(assets/icons/Pinterest-gold.svg);
    transition: 1.5s;
}
/*end welcome styles*/
a:visited{
color: #9D8665;
transition: 1.5s;;
}

a:hover{
    color: #9D8665;
    transition: 1.5s;;
    }


